<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>R.E.I.M.E</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>R.E.I.M.E APP</h1>
    <h2>Real Estate Investing Made Easy for Beginner Investors</h2>
    <section class="imgHolder">
      <img src="/img/house.jpg" alt="">
    </section>
    <section>
      <section>
      <p>Login or Signup:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </section>
    </section>
  </body>
</html>
